:host{
    display: flex;
    flex-direction: column; /*Displaying verticaly*/
    align-items: center;
}

.todo-list, .todo-item{
    width: 100%;
}

.todo-item{
    display: flex;
    align-items: center;
}

.delete-todo{
    margin-top: 10px;
    cursor: pointer;
}